<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stomv - Religious temple HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="assets/images/favicon.ico">

    <!-- CSS
        ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

    <!-- Flaticon Icon CSS -->
    <link rel="stylesheet" href="assets/css/vendor/flaticon.css">

    <!-- Swiper Slider CSS -->
    <link rel="stylesheet" href="assets/css/plugins/swiper.min.css">

    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from avobe) -->

    <!-- <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
        <link rel="stylesheet" href="assets/css/plugins/plugins.min.css"> -->

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>





    <!--====================  header area ====================-->
    <div class="header-area header-area--default">


        <!-- Header Bottom Wrap Start -->
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 d-flex align-items-center">
                        <div class="header__logo">
                            <div class="logo">
                                <a href="index.html"><img src="assets/images/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="header-right">
                            <div class="header__navigation menu-style-three d-none d-lg-block">
                                <nav class="navigation-menu">
                                    <ul>
                                        <li class="has-children has-children--multilevel-submenu active">
                                            <a href="#"><span>Home</span></a>
                                            <ul class="submenu">
                                                <li class="active"><a href="index.html"><span>Home One</span></a></li>
                                                <li><a href="index-2.html"><span>Home Two</span></a></li>
                                                <li><a href="index-3.html"><span>Home Three</span></a></li>
                                                <li><a href="index-4.html"><span>Home Four</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="about-us.html"><span>About</span></a>
                                        </li>
                                        <li class="has-children">
                                            <a href="events.html"><span>Event</span></a>
                                        </li>
                                        <li class="has-children has-children--multilevel-submenu">
                                            <a href="service.html"><span>Services</span></a>
                                            <!-- <ul class="submenu">
                                                <li><a href="it-services.html"><span>IT Services</span></a></li>
                                            </ul> -->
                                        </li>

                                        <li class="has-children"><a href="causes.html"><span>Causes</span></a></li>
                                        <li class="has-children has-children--multilevel-submenu">
                                            <a href="#"><span>Pages</span></a>
                                            <ul class="submenu">
                                                <li><a href="donation.html"><span>Donation</span></a></li>
                                                <li><a href="gallery.html"><span>Gallery</span></a></li>
                                                <li><a href="mission-and-vision.html"><span>Mission & Vision</span></a></li>
                                                <li><a href="causes-details.html"><span>Causes Details</span></a></li>
                                                <li><a href="events-details.html"><span>Events Details</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="contact-us.html"><span>Contact</span></a>
                                        </li>

                                    </ul>
                                </nav>

                            </div>

                            <div class="header-btn text-right d-none d-sm-block ml-lg-4">
                                <a class="btn-circle btn-default btn" href="#">Donate</a>
                            </div>

                            <!-- mobile menu -->
                            <div class="mobile-navigation-icon d-block d-lg-none" id="mobile-menu-trigger">
                                <i></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Bottom Wrap End -->

    </div>
    <!--====================  End of header area  ====================-->






    <!-- breadcrumb-area start -->
    <div class="breadcrumb-area--bg-two bg-overlay-black-4">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h3 class="breadcrumb-title text-white">Mission & Vision</h3>
                    <!-- breadcrumb-list start -->
                    <ul class="breadcrumb-list">
                        <li class="breadcrumb-item"><a href="index.html">Home</a></li>
                        <li class="breadcrumb-item active">Mission & Vision</li>
                    </ul>
                    <!-- breadcrumb-list end -->
                </div>
            </div>
        </div>
    </div>
    <!-- breadcrumb-area end -->








    <div class="site-wrapper-reveal">

        <!-- ======== Donation Area Start ========== -->
        <div class="donation-area section-space--pb_120 section-space--pt_90">
            <div class="container">
                <div class="row">

                    <div class="col-lg-12">
                        <!-- Single Donation Wrap Start -->
                        <div class="single-donation-wrap row align-items-center">
                            <div class="col-xl-5 col-lg-6">
                                <div class="donation-image">
                                    <img src="assets/images/events/events-details.png" class="img-fluid" alt="Donation Image">
                                </div>
                            </div>
                            <div class="col-xl-6 col-lg-6">
                                <div class="donation-content ml-xl-5">
                                    <div class="donation-title mb-30">
                                        <h4 class="mb-15">Education for all rural children.</h4>
                                        <div class="event-date"><span>3 Feb 2020 </span> <span>@09.00am to 01.00pm</span></div>
                                    </div>

                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text,</p>

                                    <p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English.</p>

                                </div>
                            </div>
                        </div>
                        <!--// Single Donation Wrap End -->
                    </div>

                </div>
            </div>
        </div>
        <!-- ======== Donation Area End ========== -->

        <!--=========== Causes Details Area Start ==========-->
        <div class="causes-details-area section-space--pb_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="mission-wrap mr-lg-5">
                            <div class="section-title-wrap text-left">
                                <h4 class="section-title-normal mb-30">Event Schedule</h4>
                            </div>

                            <div class="target-content">
                                <ul class="mt-30 mision-list">
                                    <li> > Event Start @ 9:00 am</li>
                                    <li> > Religious Speech @ 9.30 am</li>
                                    <li> > Lecture One @ 10.30 am</li>
                                    <li> > Gest Communication @ 12.00 pm</li>
                                    <li> > Lunch Time @ 1.00 pm</li>
                                    <li> > Ending Program @ 2.00 pm</li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="target-wrap ml-lg-5 small-mt__40 ">
                            <div class="section-title-wrap text-left">
                                <h4 class="section-title-normal mb-30">Event Venue </h4>
                            </div>

                            <div class="target-content">
                                <ul class="venue-list">
                                    <li><span>Venue 01 </span>
                                        13/b South Convention center
                                        <br>  Dhaka, 1000 Bangladesh.
                                </li>
                                    <li><span>Venue 02 </span>
                                        577/ed Ipum Road Venu
                                        <br> Demon Ipsum. 15400
                                </li>
                                </ul>
                            </div>

                        </div>
                    </div>
                    <div class="col-lg-4 col-md-12">
                        <div class="target-wrap ml-lg-5 tablet-mt__40 small-mt__40 ">
                            <div class="section-title-wrap text-left">
                                <h4 class="section-title-normal mb-30">Event Map </h4>
                            </div>

                            <div class="target-content">
                                <div id="googleMap-1" class="embed-responsive-item googleMap-2" data-lat="40.730610" data-Long="-73.935242"></div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--=========== Causes Details Area End ==========-->

        <!-- ======== Ticket Area Start ========== -->
        <div class="ticket-area section-space--pb_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="newsletter-box-area newsletter-bg">
                            <div class="newsletter-title small-mb__30">
                                <h4>Get your ticket <br>
                                Make your best choice. </h4>
                            </div>
                            <button class="btn single-by-ticket-btn">Buy Ticket</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ======== Ticket  Area End ========== -->

    </div>



    <!--========== Footer Area Start ==========-->
    <footer class="footer-area bg-footer">
        <div class="footer-top section-space--ptb_80 section-pb text-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="widget-footer mt-30">
                            <div class="footer-title">
                                <h6>Address</h6>
                            </div>
                            <div class="footer-contents">
                                <ul>
                                    <li><span>Temple 1: </span> 777/ed Ipum Road Venu
                                        Demon Ipsum. 28400</li>
                                    <li><span>Temple 2: </span> 577/ed Ipum Road Venu
                                        Demon Ipsum. 15400</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="widget-footer mt-30">
                            <div class="footer-title">
                                <h6>Related Links</h6>
                            </div>
                            <div class="footer-contents">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about-us.html">About</a></li>
                                    <li><a href="events.html">Event</a></li>
                                    <li><a href="service.html">Service</a></li>
                                    <li><a href="causes.html">Causes</a></li>
                                    <li><a href="contact-us.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="widget-footer mt-30">
                            <div class="footer-title">
                                <h6>Information</h6>
                            </div>
                            <div class="footer-contents">
                                <ul>
                                    <li>Sun Rise: 6:00 am</li>
                                    <li>Sun Sat: 5:50 pm</li>
                                    <li>Start Time: 9:00 am</li>
                                    <li>End Time: 11.00 pm</li>
                                    <li>Lunch: 01:30 pm</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="widget-footer mt-30">
                            <div class="footer-title">
                                <h6>Related Links</h6>
                            </div>
                            <div class="footer-logo mb-15">
                                <a href="index.html"><img src="assets/images/logo/footer-logo.png" alt=""></a>
                            </div>
                            <div class="footer-contents">
                                <p> Subscribe to our Newsletter & stay update. </p>
                                <div class="newsletter-box">
                                    <input type="text" placeholder="Enter your mail address">
                                    <button><i class="flaticon-paper-plane"></i></button>
                                </div>

                                <ul class="footer-social-share mt-20">
                                    <li><a href="#"><i class="flaticon-facebook"></i></a></li>
                                    <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                                    <li><a href="#"><i class="flaticon-pinterest-social-logo"></i></a></li>
                                    <li><a href="#"><i class="flaticon-youtube"></i></a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copy-right-box">
                            <p class="text-white">Copyright &copy; 2020 Hastech <a href="https://hasthemes.com/" target="_blank">All Right Reserved</a>.</p>
                            <p class=" text-white"><a href="#">Privacy policy</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--==========// Footer Area End ==========-->





    <!--====================  scroll top ====================-->
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="arrow-top flaticon-up-arrow"></i>
        <i class="arrow-bottom flaticon-up-arrow"></i>
    </a>
    <!--====================  End of scroll top  ====================-->

    <!--====================  mobile menu overlay ====================-->
    <div class="mobile-menu-overlay" id="mobile-menu-overlay">
        <div class="mobile-menu-overlay__inner">
            <div class="mobile-menu-overlay__header">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-8">
                            <!-- logo -->
                            <div class="logo">
                                <a href="index.html">
                                    <img src="assets/images/logo/logo.png" class="img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-4">
                            <!-- mobile menu content -->
                            <div class="mobile-menu-content text-right">
                                <span class="mobile-navigation-close-icon" id="mobile-menu-close-trigger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-overlay__body">
                <nav class="offcanvas-navigation">
                    <ul>
                        <li class="has-children">
                            <a href="index.html">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index.html"><span>Home 1</span></a></li>
                                <li><a href="index-2.html"><span>Home 2</span></a></li>
                                <li><a href="index-3.html"><span>Home 3</span></a></li>
                                <li><a href="index-4.html"><span>Home 4</span></a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="about-us.html">about</a>
                        </li>
                        <li class="has-children">
                            <a href="events.html">Evnets</a>
                        </li>
                        <li class="has-children">
                            <a href="service.html">Services</a>
                        </li>

                        <li class="has-children">
                            <a href="causes.html">Causes</a>
                        </li>

                        <li class="has-children">
                            <a href="javascript:void(0)">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="gallery.html"><span>Gallery</span></a></li>
                                <li><a href="mission-and-vision.html"><span>Mission & Vision</span></a></li>
                                <li><a href="causes-details.html"><span>Causes Details</span></a></li>
                                <li><a href="events-details.html"><span>Events Details</span></a></li>
                            </ul>
                        </li>

                        <li class="has-children">
                            <a href="contact-us.html">Contact</a>
                        </li>



                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!--====================  End of mobile menu overlay  ====================-->





    <!-- JS
    ============================================ -->

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD79MY72taVRlZVX2DU6L5PXOh3ezUUKMc&amp;callback=initMap"></script>

    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>

    <!-- Swiper Slider JS -->
    <script src="assets/js/plugins/swiper.min.js"></script>

    <!-- Waypoints JS -->
    <script src="assets/js/plugins/waypoints.min.js"></script>

    <!-- Counterup JS -->
    <script src="assets/js/plugins/counterup.min.js"></script>

    <!-- Magnific Popup JS -->
    <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>

    <!-- wow JS -->
    <script src="assets/js/plugins/wow.min.js"></script>

    <!-- Plugins JS (Please remove the comment from below plugins.min.js for better website load performance and remove plugin js files from avobe) -->

    <!--
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>

    <!--Google Map Active-->
    <script>
        /*--
        Google Map
        -----------------------------------*/

        // Google Map For Single Property Map
        $('.googleMap-1,.googleMap-2').each(function() {
            if ($(this).length) {
                var $this = $(this);
                var $lat = $this.data('lat');
                var $long = $this.data('long');

                function initialize() {
                    var mapOptions = {
                        zoom: 14,
                        scrollwheel: false,
                        center: new google.maps.LatLng($lat, $long),
                        styles: [{
                                "featureType": "water",
                                "elementType": "geometry.fill",
                                "stylers": [{
                                    "color": "#F1F1F1"
                                }]
                            },
                            {
                                "featureType": "transit",
                                "stylers": [{
                                        "color": "#F1F1F1"
                                    },
                                    {
                                        "visibility": "off"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.highway",
                                "elementType": "geometry.stroke",
                                "stylers": [{
                                        "visibility": "on"
                                    },
                                    {
                                        "color": "#fff"
                                    }
                                ]
                            },
                            {
                                "featureType": "road.highway",
                                "elementType": "geometry.fill",
                                "stylers": [{
                                    "color": "#fff"
                                }]
                            },
                            {
                                "featureType": "road.local",
                                "elementType": "geometry.fill",
                                "stylers": [{
                                        "visibility": "on"
                                    },
                                    {
                                        "color": "#F1F1F1"
                                    },
                                    {
                                        "weight": 1.8
                                    }
                                ]
                            },
                            {
                                "featureType": "road.local",
                                "elementType": "geometry.stroke",
                                "stylers": [{
                                    "color": "#ECECEC"
                                }]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "geometry.fill",
                                "stylers": [{
                                        "visibility": "on"
                                    },
                                    {
                                        "color": "#FF5151"
                                    }
                                ]
                            },
                            {
                                "featureType": "administrative",
                                "elementType": "geometry",
                                "stylers": [{
                                    "color": "#fff"
                                }]
                            },
                            {
                                "featureType": "road.arterial",
                                "elementType": "geometry.fill",
                                "stylers": [{
                                    "color": "#F1F1F1"
                                }]
                            },
                            {
                                "featureType": "road.arterial",
                                "elementType": "geometry.fill",
                                "stylers": [{
                                    "color": "#ffffff"
                                }]
                            },
                            {
                                "featureType": "landscape",
                                "elementType": "geometry.fill",
                                "stylers": [{
                                        "visibility": "on"
                                    },
                                    {
                                        "color": "#F9F9F9"
                                    }
                                ]
                            },
                            {
                                "featureType": "road",
                                "elementType": "labels.text.fill",
                                "stylers": [{
                                    "color": "#B7B7B7"
                                }]
                            },
                            {
                                "featureType": "administrative",
                                "elementType": "labels.text.fill",
                                "stylers": [{
                                        "visibility": "on"
                                    },
                                    {
                                        "color": "#8b8b8b"
                                    }
                                ]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "labels.icon",
                                "stylers": [{
                                    "visibility": "off"
                                }]
                            },
                            {
                                "featureType": "poi",
                                "elementType": "labels",
                                "stylers": [{
                                    "visibility": "off"
                                }]
                            },
                            {
                                "featureType": "road.arterial",
                                "elementType": "geometry.stroke",
                                "stylers": [{
                                    "color": "#d6d6d6"
                                }]
                            },
                            {
                                "featureType": "road",
                                "elementType": "labels.icon",
                                "stylers": [{
                                    "visibility": "off"
                                }]
                            },
                            {},
                            {
                                "featureType": "poi",
                                "elementType": "geometry.fill",
                                "stylers": [{
                                    "color": "#EBEBEB"
                                }]
                            }
                        ]
                    };
                    var map = new google.maps.Map(document.getElementById('googleMap-1'), mapOptions);
                    var marker = new google.maps.Marker({
                        position: map.getCenter(),
                        icon: 'assets/images/icons/map-marker.png',
                        map: map,
                        overlay: {
                            values: [{
                                address: "40.7590615,-73.969231",
                                position: 'center',
                                options: {
                                    content: '<div class="gmap-info-wrapper icon"><div class="gmap-marker-icon"><img src="https://aeroland.thememove.com/main/wp-content/themes/aeroland/assets/images/maps/map-marker.png" /></div><div class="gmap-info-template-wrap"><div class="gmap-info-template"><div class="gmap-info-content"><div class="info-image"><img src="https://aeroland.thememove.com/main/wp-content/uploads/sites/2/2019/01/map-image.png" alt="map-image" /></div><div class="info-main"><h5 class="gmap-marker-title">Aeroland Studio</h5><div class="gmap-marker-content"><div>601 Lexinton Avenue, NY</div><div>+44 20 7794 0190</div><a href="mailto:info@example.com">info@example.com</a></div></div></div></div></div></div>',
                                }
                            }, ],
                            events: {
                                mouseover: function(overlay, event, context) {
                                    var target = overlay.getDOMElement();

                                    target.style.zIndex = 2;

                                    var info = $(target).find('.gmap-info-wrapper');
                                    info.find('.gmap-info-template').show();
                                },
                                mouseout: function(overlay) {
                                    var target = overlay.getDOMElement();

                                    target.style.zIndex = 1;

                                    var info = $(target).find('.gmap-info-wrapper');
                                    info.find('.gmap-info-template').hide();
                                }
                            }
                        },


                    });
                };

                google.maps.event.addDomListener(window, 'load', initialize);
            }
        });
    </script>

</body>

</html>