<!DOCTYPE html>
<html class="no-js" lang="zxx">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Stomv - Religious temple HTML Template</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Favicon -->
    <link rel="icon" href="assets/images/favicon.ico">

    <!-- CSS
        ============================================ -->

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="assets/css/vendor/bootstrap.min.css">

    <!-- Flaticon Icon CSS -->
    <link rel="stylesheet" href="assets/css/vendor/flaticon.css">

    <!-- Swiper Slider CSS -->
    <link rel="stylesheet" href="assets/css/plugins/swiper.min.css">

    <!-- Magnific Popup CSS -->
    <link rel="stylesheet" href="assets/css/plugins/magnific-popup.css">

    <!-- Vendor & Plugins CSS (Please remove the comment from below vendor.min.css & plugins.min.css for better website load performance and remove css files from avobe) -->

    <!-- <link rel="stylesheet" href="assets/css/vendor/vendor.min.css">
        <link rel="stylesheet" href="assets/css/plugins/plugins.min.css"> -->

    <!-- Main Style CSS -->
    <link rel="stylesheet" href="assets/css/style.css">

</head>

<body>





    <!--====================  header area ====================-->
    <div class="header-area header-area--default">


        <!-- Header Bottom Wrap Start -->
        <header class="header-area header-sticky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 d-flex align-items-center">
                        <div class="header__logo">
                            <div class="logo">
                                <a href="index.html"><img src="assets/images/logo/logo.png" alt=""></a>
                            </div>
                        </div>
                        <div class="header-right">
                            <div class="header__navigation menu-style-three d-none d-lg-block">
                                <nav class="navigation-menu">
                                    <ul>
                                        <li class="has-children has-children--multilevel-submenu active">
                                            <a href="#"><span>Home</span></a>
                                            <ul class="submenu">
                                                <li class="active"><a href="index.html"><span>Home One</span></a></li>
                                                <li><a href="index-2.html"><span>Home Two</span></a></li>
                                                <li><a href="index-3.html"><span>Home Three</span></a></li>
                                                <li><a href="index-4.html"><span>Home Four</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="about-us.html"><span>About</span></a>
                                        </li>
                                        <li class="has-children">
                                            <a href="events.html"><span>Event</span></a>
                                        </li>
                                        <li class="has-children has-children--multilevel-submenu">
                                            <a href="service.html"><span>Services</span></a>
                                            <!-- <ul class="submenu">
                                                <li><a href="it-services.html"><span>IT Services</span></a></li>
                                            </ul> -->
                                        </li>

                                        <li class="has-children"><a href="causes.html"><span>Causes</span></a></li>
                                        <li class="has-children has-children--multilevel-submenu">
                                            <a href="#"><span>Pages</span></a>
                                            <ul class="submenu">
                                                <li><a href="donation.html"><span>Donation</span></a></li>
                                                <li><a href="gallery.html"><span>Gallery</span></a></li>
                                                <li><a href="mission-and-vision.html"><span>Mission & Vision</span></a></li>
                                                <li><a href="causes-details.html"><span>Causes Details</span></a></li>
                                                <li><a href="events-details.html"><span>Events Details</span></a></li>
                                            </ul>
                                        </li>
                                        <li class="has-children">
                                            <a href="contact-us.html"><span>Contact</span></a>
                                        </li>

                                    </ul>
                                </nav>

                            </div>

                            <div class="header-btn text-right d-none d-sm-block ml-lg-4">
                                <a class="btn-circle btn-default btn" href="#">Donate</a>
                            </div>

                            <!-- mobile menu -->
                            <div class="mobile-navigation-icon d-block d-lg-none" id="mobile-menu-trigger">
                                <i></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <!-- Header Bottom Wrap End -->

    </div>
    <!--====================  End of header area  ====================-->



    <div class="site-wrapper-reveal no-overflow">

        <!-- ======== Hero Area Start ========== -->
        <div class="muslim-hero-color">
            <div class="muslim-hero-wrap">
                <div class="hero-area hero-style-02 muslim-hero-bg bg-overlay-black ">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="hero-content text-center">
                                    <h1 class="text-white">Assalatu khairum minannaum</h1>

                                    <div class="ht-btn-area hero-boder-top">
                                        <a href="#" class="hero-btn">EXPLORE</a>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- ======== Hero Area End ========== -->


        <div class="muslim-salte-time">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="salat-content">
                            <div class="single-salat-time">
                                <div class="img"><img src="assets/images/icons/fajr-icon.png" alt=""></div>
                                <div class="salat-times__box">
                                    <h4>fajr</h4><span>5:50 AM</span>
                                </div>
                            </div>
                            <div class="single-salat-time">
                                <div class="img"><img src="assets/images/icons/dhuhr-icon.png" alt=""></div>
                                <div class="salat-times__box">
                                    <h4>Dhuhr</h4><span>01:10 PM</span>
                                </div>
                            </div>
                            <div class="single-salat-time">
                                <div class="img"><img src="assets/images/icons/asr-icon.png" alt=""></div>
                                <div class="salat-times__box">
                                    <h4>Asr</h4><span>4:06 pm</span>
                                </div>
                            </div>
                            <div class="single-salat-time">
                                <div class="img"><img src="assets/images/icons/maghrib-icon.png" alt=""></div>
                                <div class="salat-times__box">
                                    <h4>Maghrib</h4><span>6:06 pm</span>
                                </div>
                            </div>
                            <div class="single-salat-time">
                                <div class="img"><img src="assets/images/icons/isha-icon.png" alt=""></div>
                                <div class="salat-times__box">
                                    <h4>Isha</h4><span>8:30 pm</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="muslim-salat-time-bg"></div>
        </div>



        <!-- ======== Tai About Area Start ========== -->
        <div class="tai-about-area section-space--ptb_120">
            <div class="container">
                <div class="row align-items-center">
                    <div class="col-lg-7">
                        <div class="about-muslim-image text-lg-left">
                            <img src="assets/images/banners/kaaba.png" class="img-fluid muslim-image-1" alt="Tai Images">

                            <img src="assets/images/banners/kaaba-bottom-01.png" class="img-fluid bottom-image-2" alt="Tai Images">
                            <img src="assets/images/banners/kaaba-bottom-02.png" class="img-fluid bottom-image-3" alt="Tai Images">

                        </div>
                    </div>
                    <div class="col-lg-5">
                        <div class="about-tai-content small-mt__30 tablet-mt__30">
                            <div class="section-title-muslim text-left">
                                <h3 class="mb-20">Kaaba Sharif</h3>
                            </div>
                            <p>It is a long established fact that a reader will be distracted by
                                the readable content of a page when looking at its layout.
                                The point of using Lorem Ipsum is that it has a more-or-less normal
                                distribution of letters.</p>
                            <div class="about-us-button mt-40">
                                <a class="about-us-btn" href="#">Discover</a>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <!-- ======== Tai About Area End ========== -->

        <!-- ======== Foundation Area Start ========== -->
        <div class="foundation-area section-space--pb_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-muslim text-center">
                            <h3 class="mb-20">Mosque Foundation</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <!-- Foundation Start -->
                        <div class="single-foundation">
                            <div class="foundation-image">
                                <a href="#"><img src="assets/images/foundation/mosque-fondation-01.png" class="img-fluid" alt=""></a>
                            </div>
                            <div class="foundation-content">
                                <div class="location">
                                    <a href="#">
                                        <h5>UAE adu Mosque</h5>
                                    </a>
                                    <a href="#" class="foundation-loction">Abu Dhabi, United Arab Emirates</a>
                                </div>
                            </div>
                        </div>
                        <!--// Foundation End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Foundation Start -->
                        <div class="single-foundation">
                            <div class="foundation-image">
                                <a href="#"><img src="assets/images/foundation/mosque-fondation-02.png" class="img-fluid" alt=""></a>
                            </div>
                            <div class="foundation-content">
                                <div class="location">
                                    <a href="#">
                                        <h5>UAE adu Mosque</h5>
                                    </a>
                                    <a href="#" class="foundation-loction">Abu Dhabi, United Arab Emirates</a>
                                </div>
                            </div>
                        </div>
                        <!--// Foundation End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Foundation Start -->
                        <div class="single-foundation">
                            <div class="foundation-image">
                                <a href="#"><img src="assets/images/foundation/mosque-fondation-03.png" class="img-fluid" alt=""></a>
                            </div>
                            <div class="foundation-content">
                                <div class="location">
                                    <a href="#">
                                        <h5>UAE adu Mosque</h5>
                                    </a>
                                    <a href="#" class="foundation-loction">Abu Dhabi, United Arab Emirates</a>
                                </div>
                            </div>
                        </div>
                        <!--// Foundation End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Foundation Start -->
                        <div class="single-foundation">
                            <div class="foundation-image">
                                <a href="#"><img src="assets/images/foundation/mosque-fondation-04.png" class="img-fluid" alt=""></a>
                            </div>
                            <div class="foundation-content">
                                <div class="location">
                                    <a href="#">
                                        <h5>UAE adu Mosque</h5>
                                    </a>
                                    <a href="#" class="foundation-loction">Abu Dhabi, United Arab Emirates</a>
                                </div>
                            </div>
                        </div>
                        <!--// Foundation End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Foundation Start -->
                        <div class="single-foundation">
                            <div class="foundation-image">
                                <a href="#"><img src="assets/images/foundation/mosque-fondation-05.png" class="img-fluid" alt=""></a>
                            </div>
                            <div class="foundation-content">
                                <div class="location">
                                    <a href="#">
                                        <h5>UAE adu Mosque</h5>
                                    </a>
                                    <a href="#" class="foundation-loction">Abu Dhabi, United Arab Emirates</a>
                                </div>
                            </div>
                        </div>
                        <!--// Foundation End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Foundation Start -->
                        <div class="single-foundation">
                            <div class="foundation-image">
                                <a href="#"><img src="assets/images/foundation/mosque-fondation-06.png" class="img-fluid" alt=""></a>
                            </div>
                            <div class="foundation-content">
                                <div class="location">
                                    <a href="#">
                                        <h5>UAE adu Mosque</h5>
                                    </a>
                                    <a href="#" class="foundation-loction">Abu Dhabi, United Arab Emirates</a>
                                </div>
                            </div>
                        </div>
                        <!--// Foundation End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- ======== Foundation Area End ========== -->

        <!-- ======== Service Area Start ========== -->
        <div class="service-area section-space--pb_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-muslim text-center">
                            <h3 class="mb-20">What we do</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Service Start -->
                        <div class="single-service-wrap mt-30">
                            <div class="service-image">
                                <a href="#"><img src="assets/images/services/muslim-service-01.png" class="img-fluid" alt="Service image"></a>
                            </div>
                            <div class="service-content">
                                <h4 class="service-title"><a href="#">Islamic Prayer</a></h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been standard dummy text.</p>
                            </div>
                        </div>
                        <!--// Single Service End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Service Start -->
                        <div class="single-service-wrap mt-30">
                            <div class="service-image">
                                <a href="#"><img src="assets/images/services/muslim-service-02.png" class="img-fluid" alt="Service image"></a>
                            </div>
                            <div class="service-content">
                                <h4 class="service-title"><a href="#">Child Quran Learning</a></h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been standard dummy text.</p>
                            </div>
                        </div>
                        <!--// Single Service End -->
                    </div>
                    <div class="col-lg-4 col-md-6">
                        <!-- Single Service Start -->
                        <div class="single-service-wrap mt-30">
                            <div class="service-image">
                                <a href="#"><img src="assets/images/services/muslim-service-03.png" class="img-fluid" alt="Service image"></a>
                            </div>
                            <div class="service-content">
                                <h4 class="service-title"><a href="#">Quran Tilawat</a></h4>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been standard dummy text.</p>
                            </div>
                        </div>
                        <!--// Single Service End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- ======== Service Area End ========== -->

        <!-- ======== Donation Area Start ========== -->
        <div class="donation-area section-space--pb_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-muslim text-center">
                            <h3 class="mb-20">Donation Form Our Temple</h3>
                        </div>
                    </div>
                </div>
                <div class="row">

                    <div class="col-lg-12">
                        <!-- Single Donation Wrap Start -->
                        <div class="single-donation-wrap row align-items-center">
                            <div class="col-lg-5">
                                <div class="donation-image">
                                    <img src="assets/images/donation/muslim-donate-01.png" class="img-fluid" alt="Donation Image">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="donation-content ml-lg-5">
                                    <div class="content-title">
                                        <h4 class="mb-15">Education for all rural children.</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Ipsum has been standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>

                                    <div class="progress-wrap-muslim">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="progress-bar--two">
                                                    <!-- Start Single Progress Charts -->
                                                    <div class="progress-charts">
                                                        <div class="progress">
                                                            <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                                                <p class="percent-label">$4500.00</p>
                                                            </div>
                                                        </div>

                                                        <div class="progress_sold_av">
                                                            <p class="start-sold">$00.00</p>
                                                            <p class="sold-av">$8500.00 <br> <span>OUR GOAL</span></p>
                                                        </div>
                                                    </div>
                                                    <!-- End Single Progress Charts -->
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="donate-btn text-lg-right">
                                                    <a href="#" class="btn donate-btn">Donate Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--// Single Donation Wrap End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Donation Wrap Start -->
                        <div class="single-donation-wrap row align-items-center">
                            <div class="col-lg-5">
                                <div class="donation-image">
                                    <img src="assets/images/donation/muslim-donate-02.png" class="img-fluid" alt="Donation Image">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="donation-content ml-lg-5">
                                    <div class="content-title">
                                        <h4 class="mb-15">Reconstruct or new construct Temple</h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Ipsum has been standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>

                                    <div class="progress-wrap-muslim">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="progress-bar--two">
                                                    <!-- Start Single Progress Charts -->
                                                    <div class="progress-charts">
                                                        <div class="progress">
                                                            <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                                                <p class="percent-label">$4500.00</p>
                                                            </div>
                                                        </div>

                                                        <div class="progress_sold_av">
                                                            <p class="start-sold">$00.00</p>
                                                            <p class="sold-av">$8500.00 <br> <span>OUR GOAL</span></p>
                                                        </div>
                                                    </div>
                                                    <!-- End Single Progress Charts -->
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="donate-btn text-lg-right">
                                                    <a href="#" class="btn donate-btn">Donate Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--// Single Donation Wrap End -->
                    </div>

                    <div class="col-lg-12">
                        <!-- Single Donation Wrap Start -->
                        <div class="single-donation-wrap row align-items-center">
                            <div class="col-lg-5">
                                <div class="donation-image">
                                    <img src="assets/images/donation/muslim-donate-03.png" class="img-fluid" alt="Donation Image">
                                </div>
                            </div>
                            <div class="col-lg-7">
                                <div class="donation-content ml-lg-5">
                                    <div class="content-title">
                                        <h4 class="mb-15">Ensure child safety & health </h4>
                                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.
                                            Ipsum has been standard dummy text. Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                                    </div>

                                    <div class="progress-wrap-muslim">
                                        <div class="row">
                                            <div class="col-lg-8">
                                                <div class="progress-bar--two">
                                                    <!-- Start Single Progress Charts -->
                                                    <div class="progress-charts">
                                                        <div class="progress">
                                                            <div class="progress-bar wow fadeInLeft" data-wow-duration="0.5s" data-wow-delay=".3s" role="progressbar" style="width: 60%" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100">
                                                                <p class="percent-label">$4500.00</p>
                                                            </div>
                                                        </div>

                                                        <div class="progress_sold_av">
                                                            <p class="start-sold">$00.00</p>
                                                            <p class="sold-av">$8500.00 <br> <span>OUR GOAL</span></p>
                                                        </div>
                                                    </div>
                                                    <!-- End Single Progress Charts -->
                                                </div>
                                            </div>
                                            <div class="col-lg-4">
                                                <div class="donate-btn text-lg-right">
                                                    <a href="#" class="btn donate-btn">Donate Now</a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <!--// Single Donation Wrap End -->
                    </div>


                </div>
            </div>
        </div>
        <!-- ======== Donation Area End ========== -->

        <!-- ======== Others Activities Area Start ========== -->
        <div class="others-activities-area section-space--pb_120">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="section-title-wrap text-center">
                            <h3 class="section-title center-style">Others Activities</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Single Activities Start -->
                        <div class="single-activities-wrap">
                            <a href="#" class="activities-imgaes">
                                <img src="assets/images/activities/muslim-activities-01.png" class="img-fluid" alt="">
                            </a>
                            <div class="activities-content text-center">
                                <div class="widget-metadata"><span>Time : 09:30 am to 12:00 pm</span></div>
                                <a href="#">
                                    <h4 class="activities-title">Support pour & rural people</h4>
                                </a>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                        <!--// Single Activities End -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Single Activities Start -->
                        <div class="single-activities-wrap">
                            <a href="#" class="activities-imgaes">
                                <img src="assets/images/activities/muslim-activities-02.png" class="img-fluid" alt="">
                            </a>
                            <div class="activities-content text-center">
                                <div class="widget-metadata"><span>Time : 10:40 am to 12:00 pm</span></div>
                                <a href="#">
                                    <h4 class="activities-title">Make Mosque & Prayer place.</h4>
                                </a>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                        <!--// Single Activities End -->
                    </div>
                    <div class="col-lg-4 col-md-6 col-12">
                        <!-- Single Activities Start -->
                        <div class="single-activities-wrap">
                            <a href="#" class="activities-imgaes">
                                <img src="assets/images/activities/muslim-activities-03.png" class="img-fluid" alt="">
                            </a>
                            <div class="activities-content text-center">
                                <div class="widget-metadata"><span>Time : 11:30 am to 12:00 pm</span></div>
                                <a href="#">
                                    <h4 class="activities-title">Islamic activities for children.</h4>
                                </a>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                            </div>
                        </div>
                        <!--// Single Activities End -->
                    </div>
                </div>
            </div>
        </div>
        <!-- ======== Others Activities Area End ========== -->




    </div>



    <!--========== Footer Area Start ==========-->
    <footer class="footer-area bg-footer">
        <div class="footer-top section-space--ptb_80 section-pb text-white">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="widget-footer mt-30">
                            <div class="footer-title">
                                <h6>Address</h6>
                            </div>
                            <div class="footer-contents">
                                <ul>
                                    <li><span>Temple 1: </span> 777/ed Ipum Road Venu
                                        Demon Ipsum. 28400</li>
                                    <li><span>Temple 2: </span> 577/ed Ipum Road Venu
                                        Demon Ipsum. 15400</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-2 col-md-6 col-sm-6">
                        <div class="widget-footer mt-30">
                            <div class="footer-title">
                                <h6>Related Links</h6>
                            </div>
                            <div class="footer-contents">
                                <ul>
                                    <li><a href="index.html">Home</a></li>
                                    <li><a href="about-us.html">About</a></li>
                                    <li><a href="events.html">Event</a></li>
                                    <li><a href="service.html">Service</a></li>
                                    <li><a href="causes.html">Causes</a></li>
                                    <li><a href="contact-us.html">Contact</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 col-sm-6">
                        <div class="widget-footer mt-30">
                            <div class="footer-title">
                                <h6>Information</h6>
                            </div>
                            <div class="footer-contents">
                                <ul>
                                    <li>Sun Rise: 6:00 am</li>
                                    <li>Sun Sat: 5:50 pm</li>
                                    <li>Start Time: 9:00 am</li>
                                    <li>End Time: 11.00 pm</li>
                                    <li>Lunch: 01:30 pm</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-md-6 col-sm-6">
                        <div class="widget-footer mt-30">
                            <div class="footer-title">
                                <h6>Related Links</h6>
                            </div>
                            <div class="footer-logo mb-15">
                                <a href="index.html"><img src="assets/images/logo/footer-logo.png" alt=""></a>
                            </div>
                            <div class="footer-contents">
                                <p> Subscribe to our Newsletter & stay update. </p>
                                <div class="newsletter-box">
                                    <input type="text" placeholder="Enter your mail address">
                                    <button><i class="flaticon-paper-plane"></i></button>
                                </div>

                                <ul class="footer-social-share mt-20">
                                    <li><a href="#"><i class="flaticon-facebook"></i></a></li>
                                    <li><a href="#"><i class="flaticon-twitter"></i></a></li>
                                    <li><a href="#"><i class="flaticon-pinterest-social-logo"></i></a></li>
                                    <li><a href="#"><i class="flaticon-youtube"></i></a></li>
                                </ul>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="copy-right-box">
                            <p class="text-white">Copyright &copy; 2020 Hastech <a href="https://hasthemes.com/" target="_blank">All Right Reserved</a>.</p>
                            <p class=" text-white"><a href="#">Privacy policy</a></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--==========// Footer Area End ==========-->




    <!--====================  scroll top ====================-->
    <a href="#" class="scroll-top" id="scroll-top">
        <i class="arrow-top flaticon-up-arrow"></i>
        <i class="arrow-bottom flaticon-up-arrow"></i>
    </a>
    <!--====================  End of scroll top  ====================-->


    <!--====================  mobile menu overlay ====================-->
    <div class="mobile-menu-overlay" id="mobile-menu-overlay">
        <div class="mobile-menu-overlay__inner">
            <div class="mobile-menu-overlay__header">
                <div class="container-fluid">
                    <div class="row align-items-center">
                        <div class="col-md-6 col-8">
                            <!-- logo -->
                            <div class="logo">
                                <a href="index.html">
                                    <img src="assets/images/logo/logo.png" class="img-fluid" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="col-md-6 col-4">
                            <!-- mobile menu content -->
                            <div class="mobile-menu-content text-right">
                                <span class="mobile-navigation-close-icon" id="mobile-menu-close-trigger"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="mobile-menu-overlay__body">
                <nav class="offcanvas-navigation">
                    <ul>
                        <li class="has-children">
                            <a href="index.html">Home</a>
                            <ul class="sub-menu">
                                <li><a href="index.html"><span>Home 1</span></a></li>
                                <li><a href="index-2.html"><span>Home 2</span></a></li>
                                <li><a href="index-3.html"><span>Home 3</span></a></li>
                                <li><a href="index-4.html"><span>Home 4</span></a></li>
                            </ul>
                        </li>
                        <li class="has-children">
                            <a href="about-us.html">about</a>
                        </li>
                        <li class="has-children">
                            <a href="events.html">Evnets</a>
                        </li>
                        <li class="has-children">
                            <a href="service.html">Services</a>
                        </li>

                        <li class="has-children">
                            <a href="causes.html">Causes</a>
                        </li>

                        <li class="has-children">
                            <a href="javascript:void(0)">Pages</a>
                            <ul class="sub-menu">
                                <li><a href="gallery.html"><span>Gallery</span></a></li>
                                <li><a href="mission-and-vision.html"><span>Mission & Vision</span></a></li>
                                <li><a href="causes-details.html"><span>Causes Details</span></a></li>
                                <li><a href="events-details.html"><span>Events Details</span></a></li>
                            </ul>
                        </li>

                        <li class="has-children">
                            <a href="contact-us.html">Contact</a>
                        </li>



                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!--====================  End of mobile menu overlay  ====================-->





    <!-- JS
    ============================================ -->

    <!-- Modernizer JS -->
    <script src="assets/js/vendor/modernizr-2.8.3.min.js"></script>

    <!-- jQuery JS -->
    <script src="assets/js/vendor/jquery-3.3.1.min.js"></script>

    <!-- Bootstrap JS -->
    <script src="assets/js/vendor/bootstrap.min.js"></script>

    <!-- Swiper Slider JS -->
    <script src="assets/js/plugins/swiper.min.js"></script>

    <!-- Waypoints JS -->
    <script src="assets/js/plugins/waypoints.min.js"></script>

    <!-- Counterup JS -->
    <script src="assets/js/plugins/counterup.min.js"></script>

    <!-- Magnific Popup JS -->
    <script src="assets/js/plugins/jquery.magnific-popup.min.js"></script>

    <!-- wow JS -->
    <script src="assets/js/plugins/wow.min.js"></script>

    <!-- Ajax mail JS -->
    <script src="assets/js/plugins/ajax.mail.js"></script>

    <!-- Plugins JS (Please remove the comment from below plugins.min.js for better website load performance and remove plugin js files from avobe) -->

    <!--
    <script src="assets/js/plugins/plugins.min.js"></script>
    -->

    <!-- Main JS -->
    <script src="assets/js/main.js"></script>


</body>

</html>